html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* canvas clear background handled in JS for better trail control */
  background: transparent;
  z-index: 0;
}
